# Wow!
**This** is my *first* time creating a notebook

In [1]:
age = 53
name = "Laurie"

In [2]:
print(age)

53

In [3]:
print(name, "is", age, "years old", ".")

Laurie is 53 years old .

In [4]:
print(name,"is",age,"years old",".")

Laurie is 53 years old .

In [7]:
print(last_name)

Ellerman

In [6]:
last_name = "Ellerman"

In [8]:
print(name,"will be",age+10,"in ten years.")

Laurie will be 63 in ten years.

In [9]:
print(name[2])

u

In [10]:
print(name[0])

L

In [11]:
name_substring = name[0:4]

In [14]:
print(name_substring)

Laur

In [15]:
len(last_name)

8

In [16]:
length_ln=len(last_name)

In [17]:
print (length_ln)

8

In [18]:
print (length_ln/2)

4.0

In [19]:
uglycode = 1

In [20]:
uGlycode = 7

In [21]:
print (uglycode)

1

In [24]:
name = "Michelle"

In [25]:
print (name)

Michelle

In [32]:
type(age)

int

In [33]:
type(name)

str

In [37]:
new_age= "20"

In [35]:
print(new_age + 15)

TypeError: can only concatenate str (not "int") to str

In [38]:
new_age= int(new_age)

In [39]:
new_age = 50

In [40]:
print (new_age)

50

In [41]:
uglycode = "ugly"

In [42]:
print (uglycode + y)

NameError: name 'y' is not defined

In [43]:
num = 5.093

In [44]:
type (num)

float

In [45]:
num - 3.9

1.193

In [46]:
num * 3

15.279

In [47]:
num / 2

2.5465

In [48]:
num ^ 10

TypeError: unsupported operand type(s) for ^: 'float' and 'int'

In [49]:
name + "."

'Michelle.'

In [50]:
print(name)+"."

Michelle

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [51]:
##This is ignored by Python
print (length_ln) #this is ignored also

8

In [53]:
print("hello world")
print()
print("hello again")

hello world

hello again

In [54]:
result = print("example")
print("result of print is:", result)

example
result of print is: None

In [55]:
print(max(0,1,2,3))
print(min("a","A","0"))

3
0

In [56]:
round(3.1436, ndigits=2)

SyntaxError: invalid syntax (<ipython-input-56-475bbb80780f>, line 1)

In [57]:
round (3.15739, 2)

3.16

In [59]:
my_string = "Hello World!"
print(len(my_string)) #print the length of my_string
print(my_string.swapcase())

12
hELLO wORLD!